
#main{background-color: black;width: 600px;margin:30px auto;height:400px;
border: 12px solid white;border-radius: 50%}

.sub{display: flex;justify-content: space-around;width:400px;
margin:50px auto;border:2px solid black;align-items:center !important;border: 12px solid white;
border-radius: 50%}



.tim/*{background-color: grey;*/{width:100px;height:80px;align-content: center;

	text-align: center;display: flex;;justify-content: center;color:red;font-weight: bold}

.buton{/*background-color: white;*/display: flex;justify-content: space-around;width:400px;
margin:50px auto/*;border:2px solid black*/;align-items:center !important/*;border: 12px solid white;*/*/*/border-radius: 50px 50px*/*/}

.btn{background-color:white;width:80px;height:50px;align-content: center;

	text-align:center;display: flex;;justify-content: center;border-radius:15px 15px;line-height: 49px;
color:red;font-weight: 900;font-stretch: 80px}

body{background-color: yellow;}